<img src="{{ album.album_logo }}" width="15%">

<h1>{{ album.album_title }}</h1>
<h2>{{ album.album.arist }}</h2>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'music:favorite' album.id %}" method="post">
    {% csrf_token %}
    {% for song in album.song_set.all %}
        <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}"/>
        <label for="song{{ forloop.counter }}">
            {{ song.song_title }}
            {% if song.is_favorite %}
                <img src="http://favicon.sitweb.eu/uploads/icons/13399/kappa.png?1507980125"/>
            {% endif %}
        </label><br>

    {% endfor %}
    <input type="submit" value="Favorite">
</form>